@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #dc4345;
  --fs-color-primary: #dc4345;
  --fs-color-secondary: #59A300;
  --fs-color-success: #1E73BE;
  --fs-color-alert: #b20000;
  --fs-experimental-link-color: #000;
  --fs-experimental-link-color-hover: #111;
}

body,
html {
  background: #FFFFFF !important;
  padding: 0px !important;
  margin: 0px !important;
  overflow-x: hidden !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  margin-bottom: 0.5em;
  margin-top: 0;
  text-rendering: optimizeSpeed;
  width: 100%;
}

h1 {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 800;
  font-style: normal;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif !important;
  font-weight: 600;
  font-style: normal;
}

p,
a {
  font-family: "Lato", sans-serif !important;
  font-weight: 400;
  font-style: normal;
}

button {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 700;
  font-style: normal;
}

.ant-checkbox-inner {
  background-color: var(--fs-color-alert) !important;
}

.ant-btn-primary {
  background-color: var(--main-bg-color) !important;
  color: white;
  width: 100%;
}

.ant-popconfirm-buttons .ant-btn-primary {
  width: auto !important;
}

.swiper-pagination {
  position: relative !important;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  /* bottom: -10px !important; */
  z-index: 10000 !important;
}

.carousel .thumbs-wrapper {
  margin-top: 0px !important;
}

.thumbs li {
  width: 100px !important;
  padding: 0px !important;
  border-radius: 10px !important;
}

.carousel .thumb.selected,
.carousel .thumb:hover {
  border-color: var(--fs-color-primary) !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 36px !important;
  font-weight: bold !important;
  color: var(--fs-color-primary);
}

.adminOrderProducts th {
  padding: 32px;
}

.table-container {
  overflow-x: auto !important;
}

.anticon {
  cursor: pointer !important;
}

.carousel .thumbs-wrapper {
  overflow-x: auto !important;
}

.ant-input {
  border-radius: 8px !important;
  background: #FFF !important;
  padding: 0px 13px;
  padding-left: 20px !important;
  height: 48px;
}

.ant-select {
  height: 48px !important;
}

.ant-select-selector {
  height: 48px !important;
}

.ant-input-password {
  padding: 0px;
  padding-right: 11px;
}

.ant-table-content {
  width: 100% !important;
  overflow-x: auto !important;
}

.textElipsisTwoLines {
  width: 100%;
  max-width: 160px;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
}

.ant-dropdown {
  z-index: 10000 !important;
}

.ant-tabs-ink-bar {
  height: 4px !important;
  border-radius: 2px !important;
  background: var(--fs-color-alert) !important;
}

.ant-tabs-tab {
  padding-top: 0px !important;
}

.mainNavHeader .ant-select-focused .ant-select-selector {
  box-shadow: none !important;
}

@media (min-width: 2200px) {
  body {
    width: 2200px;
    margin: 0px auto !important;
  }
}

@media (max-width: 767px) {
  .mainTitle {
    font-size: 23px !important;
  }

  .home .mainTitle {
    font-size: 15px !important;
    padding-bottom: 10px !important;
  }

  .home a {
    font-size: 17px !important;
  }
}