.SearchBar {
    width: 100%;
    min-width: 500px;
    height: auto;
    position: relative;
}

.SearchBar label {
    color: white;
}

.SearchBar .select,
.SearchBar .select>div,
.SearchBar .button button {
    height: 32px !important;
    display: flex;
    align-items: center;
}

.searchbox {
    background: transparent;
    border: none;
    width: 100%;
    box-shadow: none !important;
    border-width: 0 0 1px 0;
    font-size: 1.5rem;
    outline: 0;
    transition: 1s all ease-in-out;
    padding: 2rem 1rem;
}

.resultsContainer {
    position: absolute;
    background-color: white;
    z-index: 1000;
    overflow-x: hidden !important;
    width: 100%;
}

.resultsList {
    /* background: #333; */
    color: black;
    margin-top: 1rem;
    /* width: 100%; */
    max-height: 60vh;
    overflow-x: hidden;
    transition: 1s all ease-in-out;
    overflow-y: auto !important;
}

.resultsList li {
    padding: 15px !important;
    width: 100% !important;
}

.resultsList li:hover {
    background-color: var(--primary-color) !important;
    width: 100%;
}

.resultsList li:hover a {
    color: white !important;
}

.resultsList li a {
    color: black !important;
}

@media (max-width: 700px) {

    .SearchBar {
        min-width: unset;
    }

    .searchbox,
    .resultsList {
        max-width: 90% !important;
    }

    .closeBtn {
        right: 1rem;
    }
}