.CategoriesPage {
    margin: 0px;
    padding: 40px;
}

.CategoriesPage .title {
    font-size: 43px;
    font-weight: bolder;
    border-bottom: 1px solid rgb(214, 217, 218);
    padding-bottom: 15px;
    margin-bottom: 36px;
    text-transform: uppercase;
    color: var(--fs-color-primary);
    display: flex;
    align-items: center;
    gap: 17px;
}

.CategoriesPage .title::before {
    content: "";
    display: block;
    width: 15px;
    height: 32px;
    background-color: var(--fs-color-primary);
}


.CategoriesPage .category {
    position: relative;
    padding: 0px !important;
}

.CategoriesPage .category img {
    width: 100% !important;
}

.CategoriesPage .category span {
    position: relative;
    display: block;
    width: 100%;
    color: white;
    background-color: rgb(0, 0, 0, 0.4);
    /* margin: 0px 6px !important; */
    margin-top: -28px !important;
    overflow: hidden;
    font-size: 14px !important;
    padding: 4px 0px;
}

.CategoriesPage button {
    font-size: 17px !important;
}

.CategoriesPage img {
    width: 100% !important;
    height: 100% !important;
}

@media (max-width: 767px) {
    .CategoriesPage {
        padding: 15px !important;
        padding-right: 0px !important;
    }

    .CategoriesPage>div {
        /* flex-direction: column !important; */
        width: 100% !important;
    }

    .CategoriesPage .category button {
        max-width: 154px !important;
    }

    .CategoriesPage .top h1 {
        text-align: left;
    }

    .CategoriesPage .category span {
        font-size: 10px !important;
    }
}