.BulkCategoriesUpload {
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.BulkCategoriesUpload h1 {
    font-size: 23px;
    margin-bottom: 10px˝;
}