.orders .headRow td {
    background-color: black;
    padding: 10px 19px;
    width: max-content;
    color: white;
    min-width: 200px;
}

.orders .orderDetails {
    display: flex;
    flex-direction: column;
    row-gap: 19px;
}

.orders .orderDetails .orderProducts div {
    padding: 10px 0px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.orders .orderProducts {
    padding: 10px 0px;
}