.ButtonComp {
    width: 100%;
    background-color: var(--fs-color-primary) !important;
    color: white;
    border: none !important;
    border-radius: 0px;
    height: auto;
    padding: 10px;
    font-weight: 700;
    font-size: 15px;
}

.ButtonComp:hover {
    color: white !important;
    background-color: var(--fs-color-alert) !important;
}