.Filtersbar {
    width: 100% !important;
    height: auto;
    position: relative;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 19px 41px;
    overflow-x: auto;
}

.Filtersbar label {
    color: white;
}

.Filtersbar .select {
    width: 100% !important;
}

.Filtersbar .button {
    width: 100% !important;
}

.Filtersbar .select,
.Filtersbar .select>div,
.Filtersbar .button button {
    height: 32px !important;
    display: flex;
    align-items: center;
}

/* .title {
    color: white;
    display: flex;
    align-items: center;
    gap: 6px;
    width: max-content;
    font-size: 12px !important;
}

.menu {
    padding: 10px !important;
    text-align: start;
    height: 100%;
    min-height: 160px;
    max-height: 400px;
    overflow-y: auto;
}

.menu li {
    padding: 12px 10px !important;
    border-bottom: 1px solid rgb(196, 207, 211);
    border-radius: 0px !important;
}

.icon {
    font-size: 14px !important;
}

@media (max-width:767px) {
    .menu {
        width: 100%;
        height: 100%;
        min-height: 100px;
        max-height: 400px;
    }
} */